@import 'ambience/typography';
@import 'base/responsive-prop';
$price-box-color: #343434;

.price-box {
  font-weight: $weight-bold;

  display: flex;
  align-items: center;

  color: $price-box-color;

  & > .currency {
    letter-spacing: -.44px;

    @include responsive-prop(font-size, 20, 20);
  }

  & > .integer {
    letter-spacing: -.88px;

    @include responsive-prop(font-size, 48, 48);
    @include responsive-prop(line-height, 30, 30);
  }

  & > .decimal {
    align-self: flex-end;

    @include responsive-prop(font-size, 14, 14);
  }
}
