@import 'ambience/typography';
@import 'ambience/responsive';
@import 'ambience/color';
@import 'base/responsive-prop';

.simple-button {
  $button-red: $color-blood;
  $button-green: $color-forest;

  font-size: 18;
  font-weight: $weight-bold;

  cursor: pointer;
  letter-spacing: 1px;

  color: #FFF;
  background-color: $button-red;

  @include small-only {
    width: 72vw;

    @include responsive-prop(font-size, 14, 14);
  }

  &:hover {
    background-color: darken($button-red, 3%);
  }

  &.-green {
    background-color: $button-green;
  }

  &.-green:hover {
    background-color: darken($button-green, 3%);
  }

  &.-outline {
    display: flex;
    justify-content: center;
    
    color: $button-green;
    border: 2px solid $button-green;
    background-color: transparent;

    @include responsive-prop(padding-top, 15, 15);
    @include responsive-prop(padding-bottom, 15, 15);
    @include responsive-prop(padding-left, 10, 20);
    @include responsive-prop(padding-right, 10, 20);
  }

  &.-outline:hover {
    color: #FFF;
    background-color: $button-green;
  }
}
