@import 'ambience/typography.scss';
$simple-button-red: #ED5564;

.simple-button {
  font-weight: $weight-bold;
  font-size: 18px;
  letter-spacing: 1px;

  width: 270px;
  height: 55px;

  cursor: pointer;

  color: #FFF;
  background-color: $simple-button-red;

  &:hover {
    background-color: darken($simple-button-red, 3%);
  }
}
