@import 'ambience/typography';
@import 'ambience/responsive';
@import 'ambience/color';

$simple-button-red: $color-blood;
$simple-button-green: $color-forest;

.simple-button {
  font-size: 18px;
  font-weight: $weight-bold;

  cursor: pointer;
  letter-spacing: 1px;

  color: #FFF;
  background-color: $simple-button-red;

  @include small-only {
    font-size: calc(14px + 1vw);

    width: 72vw;
  }

  &:hover {
    background-color: darken($simple-button-red, 3%);
  }

  &.-green {
    background-color: $simple-button-green;
  }

  &.-green:hover {
    background-color: darken($simple-button-green, 3%);
  }

  &.-outline {
    display: flex;
    padding: 15px 45px;

    color: $simple-button-green;
    border: 2px solid $simple-button-green;
    background-color: transparent;
  }

  &.-outline:hover {
    background-color: $simple-button-green;
    color: #FFF;
  }
}
