@import 'ambience/typography.scss';
@import 'ambience/color.scss';

.count-down {
  font-size: 24px;
  font-weight: $weight-bold;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 266px;
  height: 52px;
  margin-top: 46px;
  padding-right: 26px;
  padding-left: 26px;

  cursor: pointer;
  letter-spacing: .4px;

  color: #FFF;
  background-color: $color-blood;

  & > * {
    text-align: center;
  }

  & .separator {
    margin-bottom: 12px;
    padding: 0 6px;
  }

  & .label {
    font-size: 8px;
    font-weight: $weight-regular;

    letter-spacing: .32px;
  }
}
