@import 'ambience/color';
@import 'ambience/responsive';
@import 'base/responsive-prop';

.page-faq {
  width: 82vw;
  margin: 0 auto;

  @include responsive-prop(margin-top, 100, 170);

  & > .subtitle {
    width: 82vw;
    margin: 0 auto;

    text-align: center;
    letter-spacing: .41px;

    opacity: .8;
    color: $color-description;

    @include responsive-prop(font-size, 20, 26);
    @include responsive-prop(line-height, 26, 32);
  }

  & > .balloons {
    display: flex;
    justify-content: space-between;

    @include responsive-prop(margin-top, 42, 42);
    @include responsive-prop(height, 350, 350);
    @include small-only {
      flex-direction: column;

      height: auto;
    }
  }

  & > .balloons > span {
    flex: 1;
  }

  & > aside {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive-prop(margin-top, 24, 24);
    @include small-only {
      flex-direction: column-reverse;
    }
  }

  & > aside > .divisor {
    position: relative;

    width: 1px;

    background-color: $color-wall;

    @include responsive-prop(height, 320, 320);

    @include small-only {
      display: none;
    }
  }

  & > aside > .divisor > .ball {
    position: absolute;

    transition: top .25s ease-in-out;

    border-radius: 50%;
    background-color: $color-wall;

    @include responsive-prop(left, -5, -5);
    @include responsive-prop(width, 11, 11);
    @include responsive-prop(height, 11, 11);

    @include medium-down {
      display: none;
    }
  }

  & > aside > .left {
    display: flex;
    flex-direction: column;

    color: #A2A2A2;

    @include responsive-prop(font-size, 18, 18);
    @include responsive-prop(line-height, 22, 22);
  }

  & > aside > .left,
  & > aside > .dino {
    width: 48%;

    @include small-only {
      width: 100%;
    }
  }

  & > aside > .left > a {
    cursor: pointer;

    @include responsive-prop(font-size, 18, 18);
    @include responsive-prop(line-height, 24, 48);

    @include small-only {
      margin-top: 5vw;
    }
  }

  & > aside > .left > a:hover {
    color: $color-wall;
  }

  & > aside > .left > a.-active {
    color: #58C166;
  }

  & > aside > .dino {
    display: flex;
    justify-content: center;

    @include small-only {
      display: none;
    }
  }

  & > aside > .dino > img {
    width: 80%;
    height: 80%;
  }
}
