@import 'ambience/color';

.variant-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > .variant {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 47.5%;
    margin-bottom: 2.5%;
    padding: 26px 23px;

    cursor: pointer;

    border: 1px solid $color-gallery;
    background-color: #FFF;
  }

  & > .variant.-disabled {
    cursor: not-allowed;

    opacity: .4;
    background-color: $color-gallery;

    &::after {
      display: block;

      content: 'esgotado';
      text-transform: uppercase;

      color: red;
    }
  }

  & > .variant.-selected {
    position: relative;

    box-shadow: rgba($color-description, .5) 0 2px 24px;

    & > .tick {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: -7px;
      right: -10px;

      width: 28px;
      height: 28px;

      border-radius: 50%;
    }
  }
}
