@import 'ambience/typography';
@import 'ambience/responsive';

$simple-title-color-darkslategrey: #2F5035;

.simple-title {
  font-size: 32px;

  display: flex;
  align-items: center;
  flex-direction: column;

  text-transform: uppercase;

  color: $simple-title-color-darkslategrey;

  & > .divisor {
    width: 100px;
    height: 4px;
    margin-top: 12px;
    margin-bottom: 40px;
  }
}
