@import 'ambience/color';
@import 'ambience/responsive';
@import 'base/responsive-prop';

.page-schedule {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include responsive-prop(margin-top, 100, 170);
  @include responsive-prop(padding-bottom, 80, 80);

  background: linear-gradient($color-background, $color-dark);

  & > .subtitle {
    width: 82vw;
    margin: 0 auto;

    text-align: center;
    letter-spacing: .41px;

    opacity: .8;
    color: $color-description;

    @include responsive-prop(font-size, 20, 26);
    @include responsive-prop(line-height, 26, 32);
    @include responsive-prop(margin-bottom, 26, 32);
  }
}
