@import 'ambience/color';

.page-schedule {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-bottom: 83px;

  background: linear-gradient($color-background, $color-dark);
}
