@import 'ambience/color';

.page-schedule {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-bottom: 83px;

  background: linear-gradient($color-background, $color-dark);

  & > .week-picker {
    display: flex;
  }

  & > .week-picker > .day {
    box-sizing: border-box;
    padding: 14px 34px;

    cursor: pointer;

    color: $color-forest;
  }

  & > .week-picker > .day.-selected {
    padding: 12px 32px;

    border: $color-forest 2px solid;
    border-radius: 24px;
  }

  & > .schedule {
    display: flex;

    height: 550px;
    margin-top: 33px;
  }

  & > .schedule > .-odd {
    align-self: flex-start;

    text-align: right;
  }

  & > .schedule > .-even {
    align-self: flex-end;

    text-align: left;
  }

  & > .schedule > .events > .event {
    line-height: 16px;

    margin-right: 35px;

    letter-spacing: -.25px;

    color: $color-tuna;
  }

  & > .schedule > .events > .event > .time {
    font-size: 14px;

    margin-top: 60px;
  }

  & > .schedule > .events > .event > .name {
    font-size: 18px;

    margin-top: 1em;
  }
}
