.page-shop {
  width: 100vw;
  min-height: 100vh;
  padding-top: 170px;

  & > .description {
    font-size: 26px;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: .41px;

    opacity: .53;
  }

  & > .options {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    height: 500px;
    margin-top: 42px;
  }

  & > .shirt {
    display: flex;

    margin-top: 60px;
    justify-content: center;
  }

  & > .shirt > .simple-button > .icon {
    margin-right: 15px;
  }

  & > .shirt > .simple-button:hover > .icon {
    // makes image white
    filter: brightness(0) invert(1);
  }
}
