@import 'ambience/color';
@import 'ambience/typography';
@import 'ambience/responsive';
@import 'base/responsive-prop';

.page-shop {
  width: 95vw;
  margin: 0 auto;

  @include responsive-prop(margin-top, 100, 170);

  & > .subtitle {
    width: 82vw;
    margin: 0 auto;

    text-align: center;
    letter-spacing: .41px;

    opacity: .8;
    color: $color-description;

    @include responsive-prop(font-size, 20, 26);
    @include responsive-prop(line-height, 26, 32);
  }

  & > .options {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    @include responsive-prop(margin-top, 70, 70);
    @include responsive-prop(min-height, 380, 380);
    @include medium-down {
      flex-wrap: wrap;
    }
  }

  & > .shirt {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    @include responsive-prop(margin-top, 60, 60);
  }

  & > .shirt > .simple-button {
    margin: 0 auto;

    @include responsive-prop(width, 380, 380);
    @include medium-only {
      @include responsive-prop(margin-top, -120, -120);
    }
    @include small-only {
      width: 82vw;

      @include responsive-prop(margin-top, -120, -120);
    }
  }

  & > .shirt > .simple-button > .text {
    font-weight: $weight-regular;

    @include responsive-prop(font-size, 16, 16);
  }

  & > .shirt > .simple-button > .icon {
    @include responsive-prop(margin-right, 15, 15);
    @include responsive-prop(width, 25, 25);
  }

  & > .shirt > .simple-button:hover > .icon {
    // makes image white
    filter: brightness(0) invert(1);
  }

  & > .shirt > .price {
    letter-spacing: .5px;

    color: #9A9A9A;

    @include responsive-prop(font-size, 14, 14);
    @include responsive-prop(margin-top, 12, 12);
  }
}
