@import 'ambience/color';
@import 'ambience/responsive';

.mode-selector {
  display: flex;
  justify-content: center;

  @include small-only {
    justify-content: space-around;
  }

  & > .mode {
    font-size: 20px;

    margin-right: 42px;

    cursor: pointer;
    text-align: center;
    letter-spacing: .71px;

    color: $color-light;

    @include small-only {
      flex: 1;

      margin-right: 0;
    }
    letter-spacing: .71px;

    color: $color-light;
  }

  & > .mode.-selected {
    color: #000;
  }
}
