@import 'ambience/color';

.page-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .page {
    width: 8px;
    height: 8px;

    cursor: pointer;

    border-radius: 50%;
    background-color: $color-light;
  }

  & > .page.-selected {
    width: 14px;
    height: 14px;

    background-color: $color-forest;
  }
}
