@import 'ambience/typography';
@import 'ambience/responsive';

.page-home {
  width: 100vw;
  height: 100vh;

  color: #FFF;
  background-color: #1C281E;

  & > .call {
    width: 40vw;
    margin-left: 15vw;
    padding-top: 50px;

    @include small-only {
      width: 82vw;
      margin: 0 auto;
      padding-top: 5vh;
    }
  }

  & > .call > h1 {
    font-size: calc(32px + 1.4vw);
    font-weight: $weight-bold;

    letter-spacing: 1px;
    text-transform: uppercase;

    @include small-only {
      font-size: calc(32px + 1.4vw);
    }
  }

  & > .call > p {
    font-size: 24px;
    line-height: 32px;

    width: 75%;
    margin-top: 2vh;

    @include small-only {
      font-size: 20px;
      line-height: 28px;

      margin-top: 16px;
    }
  }

  & > .call > .simple-button {
    position: relative;
    z-index: 2;

    width: 270px;
    height: 55px;
    margin-top: 46px;

    @include small-only {
      margin-top: 5vh;
    }
  }

  & > .tale {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    width: 72vw;

    @include small-only {
      width: 95vw;
      margin-bottom: 2vh;
    }
  }

  & > .cloud {
    position: absolute;
    bottom: 0;
  }
}
