@import 'ambience/typography.scss';

.page-home {
  width: 100vw;
  height: 100vh;

  color: #FFF;
  background-color: #1C281E;

  & > .call {
    width: 40vw;
    margin-left: 15vw;
    padding-top: 50px;
  }

  & > .call > h1 {
    font-size: calc(32px + 1.4vw);
    font-weight: $weight-bold;

    letter-spacing: 1px;
    text-transform: uppercase;
  }

  & > .call > p {
    font-size: 24px;
    line-height: 32px;

    width: 75%;
    margin-top: 8px;
  }

  & > .call > .simple-button {
    position: relative;
    z-index: 2;

    margin-top: 46px;
  }

  & > .tale {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    width: 72vw;
  }
}
