@import 'ambience/typography.scss';

.page-home {
  width: 100vw;
  height: 100vh;

  color: #FFF;
  background-color: #1C281E;

  & > .call {
    width: 40vw;
    padding-top: 50px;
    margin-left: 15vw;
  }

  & > .call > h1 {
    font-size: 48px;
    font-weight: $weight-bold;
    line-height: 64px;

    letter-spacing: 1px;
    text-transform: uppercase;
  }

  & > .call > p {
    font-size: 24px;

    width: 75%;
    margin-top: 8px;
  }

  & > .call > .simple-button {
    margin-top: 46px;
  }
}
