@import 'ambience/typography.scss';
@import 'ambience/responsive.scss';

.navbar {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70vw;
  margin: 0 auto;
  padding-top: 32px;

  @include small-only {
    width: 82vw;
  }

  &.-open > a {
    font-size: 1.188rem;
    line-height: 1.625rem;

    position: fixed;
    z-index: 999;
    bottom: 4rem;
    left: 30%;

    transform: translate(-20%, 0);
    text-align: center;
    text-transform: uppercase;

    color: rgb(153, 137, 178);
  
    &:hover {
      color: rgba(#FFF, .8);
    }
  }

  & > .brand {
    display: inline-flex;
    align-items: center;

    cursor: pointer;
  }

  & > .brand > .name {
    font-weight: $weight-bold;

    margin-left: 12px;

    text-transform: uppercase;

    color: #FFF;
  }

  & > .nav-burger {
    position: relative;

    width: 3rem;
    height: 3rem;

    cursor: pointer;

    &:hover {
      color: #FFF;
    }

    &:before,
    &:after {
      position: absolute;

      display: block;

      width: 20px;
      height: 2px;

      content: '';
      transition: all .3s ease;

      background-color: currentColor;
    }

    &:before {
      top: 17px;
      left: 13px;

      box-shadow: 0 12px 0 0 currentColor;
    }

    &:after {
      top: 23px;
      left: 13px;
    }

    &.-open {
      position: fixed;
      z-index: 999;
      top: 20px;
      right: 20px;

       + .nav-items {
        max-height: 100vh;

        opacity: 1;
      }

      &:before,
      &:after {
        top: 23px;
        left: 11px;

        width: 24px;
      }

      &:before {
        transform: rotate(45deg);

        box-shadow: 0 0 0 0 transparent;
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
