@import 'ambience/typography.scss';
@import 'ambience/responsive.scss';

.navbar {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70vw;
  margin: 0 auto;
  padding-top: 32px;

  @include small-only {
    width: 82vw;
  }

  & > .brand {
    display: inline-flex;
    align-items: center;

    cursor: pointer;
  }

  & > .brand > .name {
    font-weight: $weight-bold;

    margin-left: 12px;

    text-transform: uppercase;

    color: #FFF;
  }

  // &.-open > a {
  //   font-size: 1.188rem;
  //   line-height: 1.625rem;
  //
  //   position: fixed;
  //   z-index: 3;
  //   bottom: 4rem;
  //   left: 30%;
  //
  //   transform: translate(-20%, 0);
  //   text-align: center;
  //   text-transform: uppercase;
  //
  //   color: rgb(153, 137, 178);
  //
  //   &:hover {
  //     color: rgba(#FFF, .8);
  //   }
  // }
}
