@import 'ambience/typography.scss';
@import 'ambience/responsive.scss';

.navbar {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70vw;
  margin: 0 auto;
  padding-top: 32px;

  @include small-only {
    width: 82vw;
  }

  & > .brand {
    display: inline-flex;
    align-items: center;

    cursor: pointer;
  }

  & > .brand > .name {
    font-weight: $weight-bold;

    margin-left: 12px;

    text-transform: uppercase;

    color: #FFF;
  }

  &.-open > .brand {
    display: none;
  }

  & > .links {
    position: absolute;
    top: 100px;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & > .links > .link {
    font-size: 24px;
    line-height: 56px;
    text-transform: uppercase;
  }
}
