@import 'ambience/typography.scss';
@import 'ambience/responsive.scss';

.page-about {
  width: 70vw;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 170px;

  text-align: center;

  & > p {
    line-height: 27px;

    letter-spacing: .25px;

    color: #979797;
  }

  & > h2.title {
    font-size: 24px;

    margin-top: 86px;

    text-transform: uppercase;

    color: #2F5035;
  }
}
