@import 'ambience/typography';
@import 'ambience/responsive';

$page-about-color-darkgray: #979797;
$page-about-color-darkslategrey: #2F5035;

.page-about {
  margin-top: 80px;
  margin-bottom: 170px;

  text-align: center;

  & > p,
  & > .title {
    width: 70vw;
    margin: 0 auto;
  }

  & > p {
    line-height: 27px;

    letter-spacing: .25px;

    color: $page-about-color-darkgray;
  }

  & > h2.title {
    font-size: 24px;

    margin-top: 86px;

    text-transform: uppercase;

    color: $page-about-color-darkslategrey;
  }

  & > .carrousel {
    margin-top: 56px;
  }
}
