@import 'ambience/color';
@import 'ambience/responsive';
@import 'base/mask-image';
@import 'base/responsive-prop';

.page-package {
  width: 66vw;
  margin: 10vh auto;

  color: $color-emperor;

  & > .arrow {
    width: 17px;
    height: 14px;

    cursor: pointer;

    background-color: $color-emperor;

    @include mask-image('./arrow-back.svg');
  }

  & > .title {
    margin-top: 1em;

    @include responsive-prop(font-size, 30, 30);
  }

  & > .title > span {
    text-transform: uppercase;
  }

  & > .subtitle {
    display: flex;
    justify-content: space-between;

    margin-top: 1em;

    @include responsive-prop(font-size, 18, 18);
  }

  & > .subtitle > .navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive-prop(width, 150, 150);
  }

  & > .subtitle > .navigator > .chevron {
    width: 12px;
    height: 24px;

    cursor: pointer;

    background-color: $color-emperor;

    @include mask-image('./chevron-left.svg');
  }

  & > .subtitle > .navigator > .chevron.-back {
    transform: rotate(180deg);
  }

  & > .subtitle > .navigator > .chevron.-disabled {
    background-color: rgba($color-emperor, .4);
  }

  & > .variant-selector {
    user-select: none;

    @include responsive-prop(margin-top, 26, 26);
  }

  & > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small-only {
      flex-direction: column;

      height: 10em;
    }
  }

  & > footer > .simple-button {
    @include responsive-prop(width, 182, 182);
    @include responsive-prop(height, 55, 55);
    @include responsive-prop(font-size, 18, 18);
  }

  & > footer > .simple-button.-disabled {
    cursor: not-allowed;
    pointer-events: none;

    opacity: .4;
    background-color: $color-emperor;

    &:hover {
      background-color: transparent;
    }
  }
}
