$shop-card-color-divisor: #F0F0F0;
$shop-card-color-description: #9A9A9A;
$shop-card-color-red: #FF7381;
$shop-card-color-orange: #FCB755;
$shop-card-color-green: #58C166;
$shop-card-color-blue: #2CABCA;
$shop-card-color-purple: #911AEC;

.shop-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 210px;
  height: 380px;
  padding-bottom: 20px;

  background-color: #FFF;
  box-shadow: rgba(#000, .5) 0 2px 9px;

  & > .title {
    font-size: 24px;
    margin-bottom: 10px;

    letter-spacing: -.4px;
    text-transform: uppercase;
  }

  & > .title.-red {
    color: $shop-card-color-red;
  }

  & > .title.-orange {
    color: $shop-card-color-orange;
  }

  & > .title.-green {
    color: $shop-card-color-green;
  }

  & > .title.-blue {
    color: $shop-card-color-blue;
  }

  & > .title.-purple {
    color: $shop-card-color-purple;
  }

  & > .price {
    display: flex;
    justify-content: center;

    width: 100%;
    padding-bottom: 20px;

    border-bottom: $shop-card-color-divisor 1px solid;
  }

  & > .description {
    font-size: 14px;
    line-height: 22px;

    padding: 0 20px;

    text-align: center;
    letter-spacing: -.4px;

    color: $shop-card-color-description;
  }

  & > .simple-button {
    font-size: 16px;

    width: 125px;
    height: 35px;
  }

  &:nth-child(1) > .icon {
    margin-top: 10px;
  }

  &:nth-child(2) > .icon {
    margin-top: -20px;
    margin-bottom: 5px;
  }

  &:nth-child(3) > .icon {
    margin-top: -45px;
    margin-bottom: 25px;
  }

  &:nth-child(4) > .icon {
    margin-top: -65px;
    margin-bottom: 25px;
  }

  &:nth-child(5) > .icon {
    margin-top: -65px;
    margin-bottom: 25px;
  }
}
