$color-blood: #ED5564;
$color-forest: #58C166;
$color-bullfrog: #3B3B3B;
$color-background: #FAFAFA;
$color-light: #9FA3A7;
$color-dark: #D8D8D8;
$color-tuna: #3B3B45;
$color-sun: #FFC612;
$color-wall: #7E7D7D;
$color-description: #9A9A9A;
$color-emperor: #555;
